<div class="dropdown">
  <button class="btn btn-outline-secondary" type="button" id="hamburgerMenuToggle"
          aria-expanded="false" title="Menu">
    <i class="bi bi-list fs-5"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="hamburgerMenuToggle">
    <li>
      <a class="dropdown-item" href="#" id="openUserGuideMenuItem">
        <i class="bi bi-book me-1"></i> User Guide
      </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="#" id="openLicensesMenuItem">
        <i class="bi bi-file-earmark-text me-1"></i> Open Source Licenses
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#" id="openLogsMenuItem">
        <i class="bi bi-journal-text me-1"></i> Logs
      </a>
    </li>
  </ul>
</div>
